[2019-05-17 10:45] mkonstapel opened #18 "Profiling mod_wsgi applications"
### Description

Profiling mod_wsgi applications would be great. `pyflame` supports this out of the box: just point it at an Apache process ID.

### Steps to Reproduce

1. get Apache process ID
2. run austin -p $pid

**Expected behavior:** austin samples the mod_wsgi application as if it were a normal Python process.

**Actual behavior:** austin returns "Python binary not found. Not Python?"

###

[2019-05-18 10:37] P403n1x87 commented on #18
Thanks for opening this issue. I believe that Austin will have to support embedded Python in order for this to work. The change should be quite easy. I will look into it during the next couple of weeks.

[2019-05-21 05:49] d0ugal commented on #18
I got the same error when trying to run Austin against a python process in a docker container. I’m not sure if that would be possible to handle but that would be very cool.

[2019-05-21 09:52] P403n1x87 commented on #18
@d0ugal I believe your error is caused by the extra security inside Docker containers. See https://github.com/benfred/py-spy#how-do-i-run-py-spy-in-docker. As recommended t
here, allowing the capability SYS_PTRACE by adding the  `--cap-add SYS_PTRACE` option when spinning the container should fix the problem.

[2019-05-22 22:54] P403n1x87 commented on #18
@mkonstapel I have pushed a new branch, [libpython](https://github.com/P403n1x87/austin/tree/libpython) with the changes required to support libpython on Linux. I have tested with the Apache2 server running inside a systemd Ubuntu 18.04.2 container and mod_wsgi using Python 3.6.7.

Could I kindly ask you to give the changes a try? It is enough to check out the new branch and compile with
[code]

T

[2019-05-23 11:30] mkonstapel commented on #18
Alas! It builds and runs, but I get a stream of error messages:

[code]

But this is Python 2 mod_wsgi. Let me try Python3...

[2019-05-23 11:31] mkonstapel commented on #18
Yes, that works! :+1: Guess I'll have to get a move on with our Py3 migration ;-)

[2019-05-23 12:49] P403n1x87 commented on #18
@mkonstapel Many thanks for your precious feedback! I will try to see if I can sort Python 2 out too!

[2019-05-23 22:22] P403n1x87 commented on #18
@mkonstapel I just tested with mod_wsgi compiled with Python 2.7 and I have got the same results as with Python 3 for my simple WSGI test application. This is what my log shows
[code]
Was it the  same application that you tried with Python 3? Are there any chances that you could repeat the tests with Python 2, perhaps using a different sampling interval?

Cheers,
Gabriele

[2019-05-24 11:15] mkonstapel commented on #18
Yes, same application. I'm getting:

[code]

This is Python 2.7.15rc1, with libapache2-mod-wsgi  4.5.17-1.

[2019-05-24 14:16] P403n1x87 commented on #18
@mkonstapel Could you please compile with the DEBUG option:
[code]
and share the new log?

Cheers!

[2019-05-24 20:18] mkonstapel commented on #18
Here you are!

[code]

[2019-05-25 10:59] P403n1x87 commented on #18
@mkonstapel Many thanks for your cooperation so far! Those log entries look fine except maybe for one bit. Here is my log for comparison
[code]
I'm also using Python 2.7.15rc1 and this can be seen from `Symbol _PyThreadState_Current found @ 0x7f3bb998d6a0` which is common to both logs. The rest of the numbers depend on how memory is mapped and thus can vary. However, the difference between the add

[2019-05-28 11:50] mkonstapel commented on #18
No change, I'm afraid:

[code]

[2019-05-28 13:36] P403n1x87 commented on #18
@mkonstapel I'm afraid there isn't much more I can do without a minimal example to reproduce the problem. Would you be able to provide one?

Cheers!

[2019-05-28 15:30] mkonstapel commented on #18
I'll try, but that'll have to wait until I get back from vacation so it may be a few weeks.

[2019-06-17 21:04] randomstuff opened #23 "Sampler associated time delta instead of number of samples"
### Description

The value associated with each stack sample is the time difference between the current sample and the previous one (in microseconds):

[code]

This is different from what is expected from flamegraph and what is generated by (most?) flamegraph stackcollapse tools: they expecte/generate sample counts.

As a consequence, when passed to FlameGraph, the number of samples in the SVG is

[2019-06-19 21:22] P403n1x87 commented on #23
The output generated by Austin is documented in the README:

The reason why Austin reports time deltas rather than sample counts is that this way one also gets a measure of the clock time spent on each part of the application. If one prefers a sample count, this could be inferred from Austin's output by collecting the samples and replacing the time delta with a 1. Of course, one could introduce an

[2019-06-22 23:12] randomstuff commented on #23
Yes I agree, this can be done as a post processing step.

[2019-06-29 12:09] P403n1x87 commented on #18
@mkonstapel Would you be able to give the `devel` branch a try? Many improvements have been merged since the last tests. Thanks!

[2019-07-01 13:28] mkonstapel commented on #18
Cool, let me give it a spin!

[code]

and that keeps repeating. stdout just shows

[code]

Looks like I'll have to get you that minimal reproducing example, but it's been a wee bit busy around here...

[2019-07-01 23:16] P403n1x87 commented on #18
@mkonstapel thanks for your test results. It would be grand if you could provide a minimal example as I still cannot reproduce the issue with Python 2.7, Apache 2 and mod_wsgi from the Ubuntu repositories.

[2019-07-27 15:38] P403n1x87 commented on #23
I'm closing this issue for now. If there will be a strong interest for such a feature to be built into Austin then it can be re-opened.

[2019-07-27 15:38] #23 closed

[2019-09-11 12:56] nbecker opened #32 "both austin-web and austin-tui don't accept -m flag"
### Description
austin-web -p 17118 -m
usage: austin-web [-h] [-a] [-e] [-i INTERVAL] [-p PID] [-s] [-t TIMEOUT]
                  [command] [args [args ...]]
austin-web: error: unrecognized arguments: -m

[Description of the issue]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expect to happen]
I expected -m would be passed to austin

[2019-09-11 18:34] P403n1x87 commented on #32
Hi and many thanks for your interest in the TUI and Web tools. As stated in the README, these are just sample applications to show how one can use Austin to make more complex applications. As such, they do not get the same development focus as Austin and therefore tend to lag behind with the support of the latest features. However, given that you have expressed interest in using these tools I will

[2019-09-17 21:50] P403n1x87 commented on #32
@nbecker  I have opened #34 as a candidate for closing #32. Would you be able to give it a go and see if it is enough for your needs/report any bugs?

`pip3 install git+https://github.com/P403n1x87/austin.git@feature/memory_tui_web`

Thanks,
G

[2019-10-20 21:11] #32 closed

[2019-10-20 21:22] P403n1x87 commented on #18
@mkonstapel version 1.0.0 is out. It adds support for multi-process applications, so mod_wsgi is the ideal candidate for testing it. Would you have some time to give the new release a try and see if it has solved this issue?

Cheers!

[2019-10-21 07:42] mkonstapel commented on #18
Oh cool, and yes, I will :)

[2019-11-05 16:21] mkonstapel commented on #18
It's working! :tada:

[2019-11-05 16:24] mkonstapel commented on #18
... I think, at first I got stack traces and now it's only outputting numbers:

[code]

Will have to do some more testing...

[2019-11-05 16:52] P403n1x87 commented on #18
@mkonstapel that might not be a bad thing. You will only see numbers if the server is sitting idle doing nothing. You will see frame information when the server is actually running some code. If you can then generate some traffic you should be able some interesting activity from Austin,

[2019-11-06 20:31] P403n1x87 commented on #18
Resolved by #39

[2019-11-06 20:31] #18 closed

[2019-11-09 15:27] koolay opened #40 "How dose it work with gunicorn?"
I want to profiling my web app running on gunicorn server.

[2019-11-11 21:36] P403n1x87 commented on #40
@koolay once you have started the gunicorn server, get hold of the root process ID and attach Austin to it with the `-C` flag. For example, on Linux, assuming that `pgrep gunicorn | head -n 1` returns the root process ID of the gunicorn server,

[code]

This will start profiling all the processes spawned by gunicorn. If you want to profile just one process, get hold of its PID and attach to that i

[2019-11-11 21:36] #40 closed

[2020-05-13 11:42] nbecker opened #42 "py3.8: AttributeError: 'NoneType' object has no attribute 'memory'"
### Description
 austin-web -p 5301
_____      ___       __    ______       _______              __________             _____
____/|_    __ |     / /_______  /_      ___    |___  __________  /___(_)______      ____/|_
_|    /    __ | /| / /_  _ \_  __ \     __  /| |  / / /_  ___/  __/_  /__  __ \     _|    /
/_ __|     __ |/ |/ / /  __/  /_/ /     _  ___ / /_/ /_(__  )/ /_ _  / _  / / /     /_ __|

[2020-05-14 12:01] larsrinn opened #43 "No output on MacOS/Python 3.8"
### Description
When running `austin` on MacOS, it executes the code I want to run but it doesn't yield any output that can be passed along to `flamegraph`. Also trying to start `austin-tui` and `austin-web` gives errors *"Took too long to start."*, no matter the value I set for `timeout` (it doesn't even wait untill the time has passed to raise that error)

### Steps to Reproduce

1. Install `aus

[2020-05-14 14:15] RhetTbull commented on #43
I'm experiencing the same thing:

[code]

### Versions

- MacOS 10.15.4
- Python 3.8.2 (Anaconda)
- Austin 1.0.0

austin built from sources via:
[code]

[2020-05-14 14:44] P403n1x87 commented on #43
Thanks for reporting this issue. I just realised that the README lacks some important information about Austin on MacOS. There is a good chance that this issue is being caused by System Integrity Protection. If the Python executable you are using resides in /usr/bin, then even `sudo` won't help here, unless SIP is disabled. In order to avoid disabling SIP, the Python executable should live outside

[2020-05-14 14:56] RhetTbull commented on #43
I tried within a virtual env and using sudo, still same result.  I am running in iTerm2 which already is set to "Full Disk Access" and "Developer Tools" in Settings | Security & Privacy.

[code]

[2020-05-14 14:58] larsrinn commented on #43
Sure, `austin python test.py | echo` still doesn't yield any output

`austin-tui python test.py` doesn't crash but still doesn't show any output:
![grafik](https://user-images.githubusercontent.com/22575361/81949762-7b8b0c80-9603-11ea-8309-ebf4a415f96e.png)

Looking at the `CMD` output, it doesn't seem to use the python version I passed in when calling `austin`:
![grafik](https://user-images.githu

[2020-05-14 15:00] P403n1x87 commented on #43
Thanks for the feedback. I will look into this as soon as I can.

[2020-05-16 16:41] P403n1x87 commented on #43
Hi there.

I have prepared a PR with a fix for this issue. May I ask you to try checking out the branch `hotfix/3.8-support` and check that Austin now works as expected, please?

Thanks.

[2020-05-19 05:01] RhetTbull commented on #43
I tried the hotfix on MacOS 10.15.4 but unfortunately still get the same results.
`sudo austin /path/to/python t.py | echo` yields no output
`sudo austin -o t.out /path/to/python t.py` runs but yields empty output file
and
`sudo austin-tui /path/to/python t.py` runs but yields no output exactly as @larsrinn reported earlier in this thread

Tried both anaconda python 3.7 and 3.8

[2020-05-19 20:13] P403n1x87 commented on #43
@RhetTbull Thanks for the further feedback. I should have fixed the problem now. I have tested with Anaconda (Python 3.7 and 3.8) and Python 3.8 from Homebrew and all seems to work as expected now. I would really appreciate if you could pull the latest commit from `hotfix/3.8-support` and test again.

Cheers!

[2020-05-20 03:52] RhetTbull commented on #43
@P403n1x87 Success!  `hotfix/3.8-support` seems to work. I tried both the `austin` and `austin-tui` and both worked.  One note: I did need to run with `sudo` so perhaps worth a mention in the docs.  Thanks for the quick fix!

[2020-05-20 07:02] P403n1x87 commented on #43
Excellent! Thanks for testing and sharing the results. I have added a note in the resend about SIP on macOS.

[2020-05-20 13:02] #43 closed

[2020-05-24 07:22] pra-dan opened #47 "Did not get desired results | `🐢 Long sampling rate : 80722/83336 (96.86 %) samples took longer than the sampling interval`"
### Description
I try to profile my Python script using Austin but fail. I

### Steps to Reproduce

1. Create python script:
[code]
2. Get the dataset from [kc_house_data.zip](https://github.com/P403n1x87/austin/files/4673076/kc_house_data.zip)

3. Run the code: `$ austin -i 50 python main.py | FlameGraph/flamegraph.pl > my_script_profile.svg
`

**Expected behavior:** CPU usage and other profiliin

[2020-05-24 07:58] P403n1x87 commented on #47
Hi there. Thanks for reporting this. The stars that are printed at the end so not indicate an error. You have asked for a sampling interval of 50 microseconds but Austin was able to sample at 257 on average. Hence almost 97% of the samples took longer than 50 microseconds. Add for the samples themselves, it looks as if Austin collected 83336 of them so good should definitely have something in the

[2020-05-24 09:59] pra-dan commented on #47
Hey @P403n1x87

Firstly, KUDOS to this work. :thumbs-up:

Yeah you are right about the _having something_. I do have the following svg stored:
![Screenshot from 2020-05-24 15-26-38](https://user-images.githubusercontent.com/46529961/82751161-0a9dde80-9dd3-11ea-893b-db087a4be0dc.png)
But I think it fails the purpose as I can hardly interpret anything from it. Please suggest how I could profile the

[2020-05-24 10:14] P403n1x87 commented on #47
@pra-dan thanks for confirming that Austin produced the samples correctly :). As for the interpretation of the result, Austin is a sampling profiler that just returns snapshots of the internal state of the interpreter at regular intervals. The function branching in flamegraph is represented by stacks. You are probably not interested in the tall stacks because they normally represent initialisation

[2020-05-24 10:14] #47 closed

[2020-05-24 10:16] P403n1x87 commented on #42
Hi there. Thanks for reporting this issue. I just wanted to give a bit of an update. I am in the process of factoring out the Python code out of this repository and create dedicated repositories for each of the tools. Hence, this issue will be addressed during the refactoring, which hopefully won't take too long!

[2020-05-25 12:08] exhuma opened #48 "Unable to compile"
### Description

Unable to compile

### Steps to Reproduce

1. Clone the repo at revision `679a896`
2. run `gcc -O3 -Wall -pthread src/*.c -o src/austin`

**Expected behavior:**

Compilation should run

**Actual behavior:**

The following error shows up:

[code]

**Reproduces how often:** 100%

[2020-05-25 12:10] P403n1x87 commented on #48
Hi @exhuma. This is just a warning and can be ignored. The binary `src/austin` should work as expected.

[2020-05-25 12:10] #48 closed

[2020-05-29 19:43] westhomas opened #49 "austin-tui raises exception: _curses.error: init_pair() returned ERR"
### Description

Trying to run austin against existing python3 process running in a docker container raises an exception with curses initialization.

### Steps to Reproduce

1. Run target app in docker container

2. Run austin-tui and pass PID

[code]

3. See exception

**Expected behavior:**
Seeing TUI screen

**Actual behavior:**

[code]

**Reproduces how often:**

100%

### Versions

[code]

[2020-05-29 19:53] P403n1x87 commented on #49
Hi and thanks for reporting this issue. Would the suggestion posted in [this bug](https://github.com/xoreaxeaxeax/sandsifter/issues/14) help in this case, that is, `export TERM='xterm-256color'` before starting the TUI?

[2020-06-05 20:46] P403n1x87 commented on #42
This has been fixed here https://github.com/jurgisp/austin/commit/476b237be03296a6715eadaf440e4f141e4237f5

[2020-06-08 10:39] jorgsk opened #50 "Running austin fails with "no such process""
### Description

Running austin on any file fails with the output "no such process".

### Steps to Reproduce

1. Installed Austin first with autotools then with snap on xubuntu 18.04
2. ran Austin on test script as described in readme file: "austin -i 50 ./test.py"

**Expected behavior:** [What you expect to happen]
Program ran

**Actual behavior:** [What actually happens]
"no such process" given

[2020-06-08 12:22] P403n1x87 commented on #50
Hi. Austin can't parse the command line arguments like a shell does, so you will have to explicitly invoke the interpreter, like so

[code]

Note that you can also pass the whole shebang (without `#!` of course) to mimick script invocation, e.g.

[code]

[2020-06-08 12:22] #50 closed

[2020-07-23 23:26] yarikoptic opened #51 "a number of exceptions (trying sample quit process, etc) thrown while trying austin-tui -C -m -l on shortlived process"
<details>
<summary>version information</summary>

austin itself installed from debian

[code]
but it is a bare C tool without any python tui, etc.  So I cloned this repo at current state of

[code]

</details>

I am trying austin-tui in a virtualenv into which I also installed datalad, which I'd like to profile... commands were
[code]

running
[code]
results in nothing really visible in tui (not s

[2020-07-24 00:10] yarikoptic opened #52 "no stack whatsoever in TUI"
### Description

I only see
[code]
on some runs... on some other it stays empty entirely (until finishing up and showing #51 upon exit).

running regular `austin` (`rm -rf /tmp/installhere; austin -C -m /home/yoh/proj/misc/austin/venvs/dev3/bin/datalad install -s /// /tmp/installhere`) produces lots of reasonable output showing a nice flamegraph if passed to

### Steps to Reproduce

Here is the sc

[2020-07-24 00:12] yarikoptic commented on #51
I now even rebuilt `austin` binary straight from sources (instead of using debian pkg) while trying to get more info for #52 (which has a "full" reproducibility script) , and went into epdb to see what `data` looked like there and it was just
[code]
going up in the stack and showing more info about what it parsed/processes;
[code]

[2020-07-24 18:54] P403n1x87 commented on #51
Could you try with the command (no `--`)

[code]

The `-l` *might* be broken so, if that fails, try without it

[code]

In the TUI itself, press `F` to display the full collected statistics.

[2020-07-24 18:59] P403n1x87 commented on #52
When in normal mode, the TUI displays the last seen stack frame. If you want to see the full data that has been collected during the run, switch to full mode. For any serious profiling though, I recommend using flamegraphs or https://speedscope.app.

[2020-07-24 20:14] yarikoptic commented on #51
without `--` you (on any python script I assume) would get `--help` output of austin-tui, doesn't it do that for you?

[code]
`--` is a convention in many tools/arg parsers to separate out "wrapped command" options from the tool's options.  So it is in the argparse: https://docs.python.org/3/library/argparse.html

If you have positional arguments that must begin with - and don’t look like negative

[2020-07-24 21:59] P403n1x87 commented on #51
Yes you are right :). For a proper project, this would be a way of handling this scenario. The TUI that comes with Austin is more of an example than a properly maintained tool. This problem will be fixed with the release of a new version of the TUI, which will be its own project, when Austin 2 comes out in a few months with Python 3.9 support.

[2020-08-05 19:17] synapticarbors opened #53 "Sample for n seconds"
It's not clear if there is currently a way to do this, but if I haven't missed something, it would be nice to have an argument that specified that you wanted to sample for `n` seconds. The use case that I'm thinking of is that I have a process that's running over a long period of time and I want to attach to it for some short period, sample, and then stop sampling and then pipe this to flamegraph:

[2020-08-06 15:15] P403n1x87 commented on #53
Austin doesn't have an option for this currently but could be added 😄. In the meantime, I guess you can achieve what you want with some bash galore 😃

[code]

[2020-08-19 16:13] fleimgruber opened #54 "Windows gcc: invalid application of 'sizeof' to incomplete type 'proc_extra_info'"
### Description

Compilation fails on Windows 10 18.09 with MSYS MinGW 64bit compilers.

### Steps to Reproduce

1. git clone --depth=1 https://github.com/P403n1x87/austin.git
2. `gcc -O3 -Wall -lpsapi src/*.c -o src/austin`

**Expected behavior:** [What you expect to happen]

Compiles without errors.

**Actual behavior:** [What actually happens]

Compiles with errors, see below.

**Reproduces how

[2020-08-19 16:44] fleimgruber commented on #54
Sorry for the noise, had the wrong compilers in PATH.

[2020-08-19 16:44] #54 closed

[2020-10-04 12:49] Hierosme commented on #49
Hello,

That clearly because the virtual terminal not support color, in that case you should use ``curses.use_default_colors()`` where in that case all color pair will be translate to **BLACK** and **WHITE** color pair **ZERO**

The workarround about export TERM="xterm-256color" work but that not fixe the trouble considering the code it init color pair.

Here how i do:

[code]

in summary:

[code]

[2020-10-04 13:06] Hierosme commented on #49
The trouble is on the __enter__ function

[code]

should be something like

[code]

[2020-10-07 12:48] P403n1x87 commented on #53
Fixed by #56

[2020-10-07 12:48] #53 closed

[2020-10-09 13:09] boxed opened #57 "README link for Web Austin is 404"
The README links to Austin Web at https://github.com/P403n1x87/austin-web but that's a 404.

[2020-10-09 14:29] P403n1x87 commented on #57
Thanks for your interest in Austin Web. The project is almost ready for release. The link is 404 at the moment because the repository is private, but it will go public in just a few days :smile:

[2020-10-09 18:38] xmatthias opened #58 "austin-tui seems to be unable to profile complex application"
### Description

It seems impossible to profile larger applications with tui that require startup with subcommands.

[code]

This simply fails with the following error.

[code]

This suggests that somehow the arguments are not recognized to belong to the subcommand (most likely because it's 2 positional commands instead of the expected one)

**Expected behavior:** Profiling of the running python a

[2020-10-10 11:30] #49 closed

[2020-10-10 11:35] P403n1x87 commented on #51
Fixed by [austin-tui@v0.1.2](https://github.com/P403n1x87/austin-tui/releases/tag/v0.1.2).

[2020-10-10 11:35] #51 closed

[2020-10-10 11:35] P403n1x87 commented on #58
Fixed by [austin-tui@v0.1.2](https://github.com/P403n1x87/austin-tui/releases/tag/v0.1.2).

[2020-10-10 11:35] #58 closed

[2020-10-10 11:36] P403n1x87 commented on #52
Potentially fixed by [austin-tui@v0.1.2](https://github.com/P403n1x87/austin-tui/releases/tag/v0.1.2). If not then please re-open.

[2020-10-10 11:36] #52 closed

[2020-10-10 11:59] xmatthias commented on #58
Perfect, thanks a lot for the quick fix! :+1:

[2020-10-10 18:38] P403n1x87 commented on #57
Austin Web is now public

[2020-10-10 18:38] #57 closed

[2020-10-10 21:49] P403n1x87 commented on #42
Fixed by [austin-web@v0.1.0](https://github.com/p403n1x87/austin-web).

[2020-10-10 21:49] #42 closed

[2020-10-27 17:19] kevchn opened #61 "Insufficient permissions message on Austin usage command on macOS"
### Description
I installed austin using brew and am encountering a permissions issue. I saw that there is a ```sudo setcap cap_sys_ptrace+ep `which austin``` step, but I skipped it `setcap` isn't available on macOS and I'm unsure of what to execute instead.

[Description of the issue]

### Steps to Reproduce

1. brew install austin
2. sudo austin

**Expected behavior:** Austin launches

**Actual

[2020-10-27 17:51] cool-RR opened #62 "Link to MSI from readme"
I was looking how to install Austin on Windows. I never used Chocolatey or Scoop before, and I tried to install them but they required PowerShell, and the commands they gave me resulted in errors.

I looked at your Releases page and was happy to see that there's an MSI installer there. That is a much more widely accepted format. I wish the readme stated there's an MSI installer and linked to it. I

[2020-10-27 20:53] P403n1x87 commented on #61
Hi there. The setcap command is for the Linux platform. On macOS there is the problem of SIP, which is explained in the README (pointed to by the link):

[2020-10-27 21:16] kevchn commented on #61
Hi, thanks for the reply. I did read the message but unfortunately don't know how to proceed. If I run `sudo alfred` by itself, what does "the interpreter" refer to? I use pyenv to manage my python executables, which aren't in bin/. Thanks in advance.

[2020-10-28 13:58] P403n1x87 commented on #61
`sudo austin` on its own shows you just the usage. You will have to provide either the command to start a Python application, e.g.

[code]

or

[code]

if `myapp` is on the `PATH` variable. If you have a running application that you want to attach to, grab its PID and do

[code]

[2020-10-28 14:00] P403n1x87 commented on #62
Apologies for the confusion. I will improve the installation instructions with a mention to the MSI in the Releases section

[2020-10-28 14:22] #62 closed

[2020-10-28 23:51] kevchn commented on #61
Right, I believe there's a bug where running `sudo austin` by itself on macOS, which is supposed to just show usage, shows the `Insufficient Permissions` error - which is supposed to only show up when attaching austin to a Python process without sufficient permissions.

But this is a minor bug and doesn't impact the utility of austin. Thanks for building this cool tool.

[2020-11-10 00:44] jonathon-love opened #63 "Error: Interpreter state search timed out"
hi,

i'm trying to use austin inside a docker container, but i'm getting the error:

[code]

see here:

[code]

any tips?

with thanks

[2020-11-10 13:27] P403n1x87 commented on #63
Hi there. May I ask you about details regarding:
- the Docker image (OS?)
- Austin version
- Python 3 version
Thanks.

[2020-11-10 13:30] P403n1x87 commented on #63
Related to https://github.com/P403n1x87/austin/issues/18#issuecomment-494322902

[2020-11-11 00:33] jonathon-love commented on #63
hi,

python version is 3.8.5
austin version is 1.0.0
docker is version 19.03.6 (but i've tried it on multiple hosts, with different versions).

i have added the `SYS_PTRACE` option, and can run `py-spy` successfully, but not austin.

with thanks

[2020-11-11 09:31] P403n1x87 commented on #63
Could you try with the latest version of Austin, which is 2.0.0, please?

[2020-11-17 14:03] kennell commented on #61
I am also getting insufficient permissions on OSX, even when starting austin with a Python script. Austin and Python3 both installed via Homebrew.

[code]

[2020-11-17 23:52] P403n1x87 commented on #61
Thanks for your report. CI tests are passing, however, I can reproduce this on Catalina. I suspect this is due to recent updates. As a temporary workaround, disabling SIP *might* allow you to run `austin`. I will have to look for a longer term solution. My feeling is that the `austin` binary now needs the [Debugging Tool Entitlement](https://developer.apple.com/documentation/bundleresources/entitl

[2020-11-19 16:05] P403n1x87 commented on #61
**Update** The devel version can start/attach to a running REPL.

[2020-11-19 17:09] P403n1x87 commented on #61
@kennell Your script is too short-lived for Austin to extract any samples. The error message is misleading in this case because the check of whether the process exists is based on the outcome of `task_for_pid`, which could also fail because of permission issues.

[2020-11-21 21:39] kennell commented on #61
Thanks, can confirm that with a longer living script austin does indeed work. Maybe adjust the error/warning message accordingly.

[2020-11-26 13:46] ValtteriPa opened #64 "Profiling API bottlenecks/behavior inside docker container"
### Description
Hi,

I'm trying to find out why some API's in my product are acting slow on random occasions. Usually they respond to a call in under a second but sometimes the response time is considerably longer.

I'm running austin inside a docker container and using the command instructed in the manual:
`austin -Cp "pgrep apache2 | head -n 1 -x 30"`
and then calling the API's from Insomnia.
Th

[2020-11-26 14:25] P403n1x87 commented on #64
Hi there

The flame graph you have attached shows that all the threads are idle. Given that Austin is a sampler (hence it won't give you a deterministic picture), you will have to call the APIs multiple times while sampling to increase the chances that you will catch useful data. It is likely that a very fast response from the API will just go unnoticed. I got similar results when experimenting fo

[2020-12-24 02:56] mitchblank opened #65 "Did the 2.0.0 tarball get created multiple times?"
I have been investigating issues with Homebrew formulae that don't build properly from source. One of these is austin. This is because the tarball does not have the expected contents (homebrew is very strict about this for security reasons -- it won't use any external resource if its hash doesn't match what was expected)

Anyway, when I try to install I see:
[code]

The expected SHA comes from whe

[2020-12-24 09:40] P403n1x87 commented on #65
Thanks for reporting this! I was afraid something like this would happen at some point so I changed the travis job to publish on tag rather than on any push to master. Before I did this though there must have been some new commits on master that retriggered the generation of the release artifacts. This is now unlikely to happen again in the future.

I plan on releasing version 2.1.0 relatively soo

[2020-12-24 18:53] mitchblank commented on #65
Thanks for looking into it.  I'll see about getting the homebrew formula building again.

It looks like there are other compile issues for MacOS 11 that need to be sorted out:
[code]

[2020-12-24 19:04] mitchblank commented on #65
I've started a CI run with the new sha and a hack for the argparse.c issue.  It'll fail initially because homebrew rejects changes where the SHA is updated without the URL changing but the project maintainers can override that: https://github.com/Homebrew/homebrew-core/pull/67648

[2020-12-28 00:33] AlDanial opened #66 "austin + flamegraph report erroneous code line numers"
A recent flamegraph I made with austin showed a large amount of time was being spent on a line number well beyond the end of my source file. I traced the problem to a function whose keyword arguments are split across lines like so:
<pre>
def problem_function(A='qa1',
                     B=None):
</pre>
If the two keyword arguments appear on the same line as with
<pre>
def problem_function(A='qa1'

[2020-12-28 15:29] P403n1x87 commented on #66
Thanks for reporting this issue. A fix is already merged into the `devel` branch (see d0a71f65e7f512f733becd77aeffa24df823a39d) and will be part of the 2.1.0 release.

[2020-12-28 18:34] AlDanial commented on #66
d0a71f6 works great, thanks!

[2020-12-28 18:34] #66 closed

[2020-12-30 10:42] #61 closed

[2020-12-30 23:32] #65 closed

[2021-01-25 20:57] smontanaro opened #69 "Building Austin on Manjaro"
### Description

As initially cloned, I was unable to build Austin on my Manjaro system.

### Steps to Reproduce

1. Clone Austin
2. Execute ./configure
3. See errors

**Expected behavior:** Ideally, I would have expected the usual configure system exploration and file generation to occur.

**Actual behavior:**

[code]
**Solution** On my system, I had an autoconf package installed, but lacked auto

[2021-01-28 19:08] P403n1x87 commented on #69
Thanks for your report and for the detailed steps on how to build Austin from sources using autotools on Manjaro. I have created a VM with the latest version of the Arch Linux-based OS and experimented a bit. I have found that installing gcc and running

[code]

does the trick. The reason why it's possible to build Austin with autotools is to _make it right_ so to say, but given the simplicity of

[2021-02-09 16:47] adnion opened #70 "Segfault with powerpc64le"
### Description
I try to run the [test.py example](https://github.com/P403n1x87/austin#examples) on a powerpc architecture.

### Steps to Reproduce
1. Download and unpack powerpc64le.tar.xz or build from source.
2. Run `./austin python3 test.py`
3. segfault ☠️ An unexpected error occurred...

**Expected behavior:**
austin output in stdout or output file
**Actual behavior:**
`sh: line 1:  6229 Segm

[2021-02-12 09:52] adnion commented on #70
Same with python2.
`sh: line 1: 22808 Segmentation fault      (core dumped) /software/opt/python/2.7.9/lib/libpython2.7.so.1.0 -V 2>&1`

Solved by installing python 3.9.1.

[2021-02-12 09:52] #70 closed

[2021-02-23 18:35] nbecker opened #71 "an unexpected error occured"
### Description
 austin -p 3496982
              _   _
 __ _ _  _ __| |_(_)_ _
/ _` | || (_-<  _| | ' \
\__,_|\_,_/__/\__|_|_||_|
🤓 austin version: 2.1.1
sh: line 1: 3497149 Segmentation fault      (core dumped) /home/nbecker/phasenoise_inroute/dot2x1.cpython-39-x86_64-linux-gnu.so -V 2>&1

☠️ An unexpected error occurred. Please report the issue to

    🌐 https://github.com/P403n1x87/austin/issue

[2021-02-24 21:49] P403n1x87 commented on #64
@ValtteriPa Any chance you could try with the latest version of Austin to see if you get better results? Cheers.

[2021-02-24 21:55] P403n1x87 commented on #71
Austin uses `rsyslog` on Linux, so normally there would be log entries in `/var/log/syslog`. Did you use `sudo` to attach to the process or grant the `cap_systrace` to the Austin binary?

[2021-02-24 23:01] jonathon-love commented on #63
ah, really sorry, i've moved on to other things.

[2021-02-25 13:28] nbecker commented on #71
I didn't know austin is normally installed with special permission - it's installed as my local user.  What is it trying to access?  /var/log/messages I keep world readable.

[2021-02-25 13:31] nbecker commented on #71
I should add that I can attach to some other process without error.

[2021-02-25 17:41] P403n1x87 opened #72 "Austin is not using the correct process ID on macOS"
### Description

Austin is not using the correct process ID when emitting samples

### Steps to Reproduce

Run Austin on macOS and collect samples

**Expected behavior:** Austin uses the correct PID

**Actual behavior:** Austin seems to use a `mach_port_t` instead.

**Reproduces how often:** Always

### Versions

Austin 2.1.1

### Additional Information

N. A.

[2021-02-25 20:56] P403n1x87 commented on #71
Austin doesn't need permissions to write to the logs, but it requires the `cap_systrace` capability to attach to a running process. Would you be able to share some details about the process that is causing the issue?

[2021-02-28 12:49] nbecker commented on #71
1. For whatever reason, austin is working on this system without
cap_systrace.  But anyway, I went ahead and added that as suggested in
README.
2. It seems the unexpected error was caused by the process I was attempting
to profile segfaulting when austin tried to attach to it.  I suspect some
very strange
memory management error in this process.  This was a python program with
some custom c++ code

[2021-02-28 18:27] P403n1x87 commented on #71
Ok, thanks for the extra information. I will then close this issue since the original problem has disappeared.

[2021-02-28 18:27] #71 closed

[2021-03-01 08:45] ValtteriPa commented on #64
Hi,

I sure can as soon as I can find some time for it. Thanks!

[2021-04-14 20:15] #63 closed

[2021-06-09 14:57] ValtteriPa commented on #64
We started using gunicorn instead of Apache, and that seemed to clear the problems, so no need to profile anymore. Thanks anyway for the suggestions!

[2021-06-09 18:17] P403n1x87 commented on #64
@ValtteriPa thanks for the heads-up. Just so you know, the current master branch offers CPU time profiling and should work nicely with `gunicorn`, in case you'd need profiling again in the future.

[2021-07-02 13:50] #72 closed

[2021-07-02 13:50] #69 closed

[2021-08-18 02:47] tonybaloney opened #86 "Windows install from chocolatey doesn't echo anything"
Installing austin from chocolatey on Windows installs a binary that doesn't echo or seem to do anything:

[code]

None of the example commands work, just doesn't give any output.

Version 3.0.0.

I'm on Windows 11 :-)

[2021-08-18 02:57] tonybaloney commented on #86
Downloading and running the standalone .exe suggests `libwinpthread-1.dll` is missing. So its not statically linked in the compiler

[2021-08-18 11:17] P403n1x87 commented on #86
Thanks for reporting this! I never realised that MinGW pulled in that dependency even though `pthread` is not used on Windows. For now I'll make sure that that library is linked statically to the generated binaries in future releases.

[2021-08-18 11:51] #86 closed

[2021-08-22 09:27] tonybaloney opened #88 "Chocolatey script needs an update clause"
When trying to run `choco update austin` to update to 3.1.0 I got the following error:

[code]

[2021-08-22 11:04] P403n1x87 commented on #88
Yes, I've noticed this behaviour but haven't investigated it yet. The current workaround is to uninstall and re-install Austin with `choco`, as suggested by the warning message. I'll try to sort this out too with the next release, but also happy to accept a PR :slightly_smiling_face:. The Chocolatey sources are in the [`packaging/msi`](https://github.com/P403n1x87/austin/tree/packaging/msi/choco)

[2021-08-23 03:11] tonybaloney commented on #88
I'll raise a PR :-)

[2021-08-28 08:31] #88 closed

[2021-10-13 04:31] justmytwospence opened #90 "Cannot launch the given command"
### Description

When I try to run the documented example: `austin -i 1ms ./test.py` on

[code]

I get the error

[code]

### Steps to Reproduce

Given in description

**Expected behavior:**
I expect the command to run.

**Actual behavior:**
The above error message

**Reproduces how often:**
100% of the time

### Versions

3.1.0 on Manjaro 21.1.5

[2021-10-13 18:49] P403n1x87 commented on #90
Thanks for confirming. Feel free to open another issue either here or on the [extension](https://github.com/p403n1x87/austin-vscode) repository if you still cannot get things to work as they should!

[2021-10-13 18:49] #90 closed

[2021-10-20 06:52] siboehm opened #91 "Austin doesn't work with Speedscope anymore?"
### Description

With `austin=2.1.1` the austin output could be uploaded directly to Speedscope, but this broke with 3.0

### Steps to Reproduce

1. `conda install austin==3.1`
2. `austin -o austin_3_1.txt python -c 'import this'`
3. upload austin_3_1.txt to speedscope

**Expected behavior:** Speedscope displays flamegraph, just like with `austin==2.1.1`

**Actual behavior:** "Unrecognized format!

[2021-10-20 07:48] P403n1x87 commented on #91
Thanks for reporting this. Austin 3 introduced metadata in the output which breaks the current deployment of speedscope.app. Some time ago I opened a PR to fix this, which got merged (https://github.com/jlfwong/speedscope/pull/336), but as far as I can tell these changes are not live yet. Hence, in my view, this is an issue with speedscope more than with Austin.

There are a couple of ways of gett

[2021-10-20 09:07] #91 closed

[2021-10-20 10:32] P403n1x87 commented on #91
That's a great suggestion, thanks! I'll keep this in mind for future releases of `austin-python`! :slightly_smiling_face:

[2021-10-20 15:49] stphnlyd opened #92 "questions regarding _py_proc_get_version"
1. I wonder why there is this logic https://github.com/P403n1x87/austin/blob/8dce4d29a3c293048ccc319eb48a20b153f638b4/src/py_proc.c#L235 What's the lib_path expected there? And how could it be runnable with a "-V" option? In one of my special environment which is I admit somewhat different from a normal Linux environment, it goes to this place and it thinks lib_path to be some libpython3.Xm.so, wh

[2021-10-20 18:34] P403n1x87 commented on #92
These are very good questions indeed! This code has always bugged me because it's extremely fragile. That's why I've opened python/cpython#25577. Unfortunately, this will go into 3.11, and for previous versions we're stuck with this unreliable code.

As for the questions:

1. With some of the Python distributions that I've tried (mostly from https://launchpad.net/~deadsnakes/+archive/ubuntu/ppa),

[2021-10-21 02:21] stphnlyd opened #93 "fail to infer tid offset"
### Description

I got this issue in one of my environment, which must be somewhat different from a normal one although I don't know what exactly could cause this. Under this envionment Austin gets no samples, and I debugged a little bit and see _pthread_tid_offset is 0 here https://github.com/P403n1x87/austin/blob/8dce4d29a3c293048ccc319eb48a20b153f638b4/src/py_thread.c#L453

I believe it won't r

[2021-12-07 23:05] cyraid opened #96 "Please update Ubuntu repo's with new Austin version."
### Description

Very old version on Ubuntu repository 20.10 (1.0.1)
Or create a PPA would be nice too!

### Steps to Reproduce

1. apt install
2. austin --version
3. read the version "1.0.1"

**Expected behavior:** Need new version with --pipe

**Actual behavior:** Old version.

**Reproduces how often:** Every time.

### Versions

1.0.1

[2021-12-08 22:40] P403n1x87 commented on #96
@cyraid sorry for this. Unfortunately, packaging Austin for Debian is becoming a bit too stressful due to having to follow up with mentors and stuff, so I have stopped maintenance. Perhaps grabbing Austin from the [GitHub Releases page](https://github.com/P403n1x87/austin/releases/latest) might work for you for the time being?

[2021-12-09 00:06] cyraid commented on #96
@P403n1x87 It's all good I ended up just compiling it from source and using it. :) It's alright, no worries.

[2021-12-09 00:06] #96 closed

[2021-12-09 01:09] basil96 opened #97 ""Cannot determine the version of the Python interpreter" on Windows"
### Description

I'm trying to use Austin on Windows.  I installed it, I have it on my PATH.  When trying to use it to profile a simple Python script, I get the error in the title.  I believe I'm pointing Austin to an actual Python executable, not to the `py` wrapper.

What am I doing wrong?

### Steps to Reproduce

1. Install latest Austin via MSI binary.
2. Create a `test.py` script with the fol

[2021-12-09 10:51] P403n1x87 commented on #97
@basil96 thanks for reporting this. I suspect two things:

- the script runs for a short period and therefore finishes before Austin has a chance to profile it;
- Austin might have problems with white spaces in command lines on Windows. A fix has been merged into the [`devel`](https://github.com/P403n1x87/austin/commit/a11baa4006f19fdf7da9ffec495beea94a053207) branch and will be available with the

[2021-12-09 13:43] basil96 commented on #97
Thank you for looking into this, @P403n1x87

The first suspicion is probably not the case.  I had originally tried running Austin against a much longer-running script. The result brought me here. Austin was returning almost immediately.

Now I created a longer example `test.py`:

[code]

The results from Austin show the same issue.
For reference, I ran `cProfile` against it:

[code]
Top results ar

[2021-12-11 18:25] P403n1x87 commented on #97
@basil96 I can confirm that the original script is too short-lived to be profiled on Windows. Changing it to
[code]
produces profiling data. So I believe this is due to the white space in the path. Are there any chances that you could try within a virtualenv in a path with no spaces? Otherwise, this will be fixed by the next release. Alternatively, you could checkout the `devel` branch and compile

[2021-12-11 20:42] basil96 commented on #97
Confirmed with a venv that has no spaces. Seems to be running as expected.
I appreciate your help!

[2021-12-11 20:42] #97 closed

[2021-12-17 19:00] P403n1x87 commented on #92
Fixed in v3.2.0

[2021-12-17 19:00] #92 closed

[2021-12-18 14:23] willmcgugan opened #101 "Problem on MacOS"
### Description

I'm unable to get Austin (3.2.0) to run on MacOS 12.0.1

I've installed it via brew. And running it as follows:

[code]

This is in a venv within my home folder.

Austin reports:

[code]

Happy to help with testing.

[2021-12-18 14:51] P403n1x87 commented on #101
@willmcgugan thanks for reporting this. I wonder if the script that you're trying to run terminates too quickly :thinking:. Does it work with this other script?

https://github.com/P403n1x87/austin/blob/904a39075936d18cef8cb5c7d3a688dcc87a4b40/test/target34.py#L25-L38

May I also check with you the Python interpreter version and how it was installed?

[2021-12-18 16:24] willmcgugan commented on #101
Afraid not, same error with that script.

[2021-12-18 16:31] willmcgugan commented on #101
Python 3.10 Installer from python.org, but running in a venv.

[2021-12-18 16:45] P403n1x87 commented on #101
Thanks for the extra details. I normally get Python versions installed with pyenv. I'll test with the official installer to see if I can reproduce the problem.

[2021-12-18 18:11] P403n1x87 commented on #101
I can reproduce the problem with the Python from python.org. The issue is with the venv, which uses symlinks to the binaries:

[code]

Copying over the python3.10 binary might not "fix" this, since the binary still links to a shared library in a protected area of the file system:

[code]

Other installation methods don't suffer from this issue because they install the binaries in non-protected loc

[2021-12-29 16:37] P403n1x87 commented on #101
@willmcgugan granted there is nothing I can do about this but persuade you to install Python either via `brew` or `pyenv`, I'd suggest we close this issue. WDYT?

[2021-12-29 16:43] willmcgugan commented on #101
Sounds like that's my only option. Thanks for looking in to it!

[2022-03-07 18:31] willmcgugan commented on #101
Hi, I've been trying to use Austin again on MacOS. I have `pyenv` installed and working in a venv. But every invocation of Austin results in "insufficient permissions".

This is on an M1 Mac if that makes a difference.

[2022-03-08 11:21] P403n1x87 commented on #101
@willmcgugan just to rule out the obvious, as this seems to still be the same issue: can I check with you that the venv was created with a version of Python installed with `pyenv`? Also, what is the Python version? Could you share the output of

[code]

run within the venv, please? I presume this time it's Austin 3.3?

[2022-03-08 16:35] willmcgugan commented on #101
Yes, it was a venv with Python installed with pyenv. Python version is 3.10.2

The command gives me this:

[code]

Austin version is 3.3.0

[2022-03-08 22:15] P403n1x87 commented on #101
[code]

Hmm that's weird. Within a venv I'd expect `which python` to return the location of the Python binary within the venv, i.e.
`$VIRTUAL_ENV/bin/python`. I suspect `/Users/willmcgugan/.pyenv/shims/python` is actually pointing to the system-installed Python, whence the issue.

[2022-03-22 14:06] willmcgugan commented on #101
That actually works!

Not sure why `which python` points at the shim. I'm using the pyenv extension for virtualenvs, which seems to work fine. So the shim must be setting the venv environment.

[2022-03-22 15:15] P403n1x87 commented on #101
Thanks for letting me know. I will then close this issue again for now since the follow-up seems to be related to pyenv.

[2022-05-26 05:32] tonybaloney opened #116 "Install via apt prints (null) in help"
### Description

The default help message shows `(null)` instead of the name of the binary

### Steps to Reproduce

[code]

[2022-05-26 08:28] P403n1x87 commented on #116
The version of Austin in the Debian repositories is ancient as I stopped maintaining the package :disappointed: . This issue, in particular, was "fixed" in https://github.com/P403n1x87/austin/commit/fa3437d287fa715aa7309ff37f2c7c4ffbcbc915. So it would be a matter of getting a new package with the latest version of Austin into the Debian repos.

[2022-05-30 07:17] tonybaloney commented on #101
@P403n1x87 this should really be in the docs if its the only way to get it working on macOS

[2022-05-30 10:23] P403n1x87 commented on #101
@tonybaloney I sneaked a change in the README with the 3.3.0 release

https://github.com/P403n1x87/austin/commit/c0765082320ce5a365fd74dcc5a6c29b54a3c87e#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R563-R566

Do you reckon there is something else worth mentioning in that note, or elsewhere? As a `pyenv` user on macOS I don't really know what other users are experiencing wi

[2022-05-30 10:33] tonybaloney commented on #101
IMO the link in the error message should go to a unique section for macOS users.
I've never managed to get Austin working on an "official" version of Python, in or outside a virtual environment.
I can only use it on binaries that were compiled on my machine. Pyenv is the most convenient way of doing that.

The root user thing is a red herring to first time users.

[2022-07-10 02:39] nimski opened #124 "Using the extension"
### Description

Is there a way to run Austin with `sudo` on MacOS using the VS Code extension? I'm able to run Austin from the terminal directly, but when attempting to run it with sudo using the following script, I get the error message `austin process exited with code 1`.

{
            "label": "pytest with austin",
            "type": "austin",
            "command": ["sudo"],
            "ar

[2022-07-10 09:51] P403n1x87 commented on #124
@nimski I think you might find this comment useful:

https://github.com/P403n1x87/austin-vscode/issues/24#issuecomment-1036647647

The idea is to allow Austin to run with `sudo` without password by adding a rule to the `sudoers` file, and then actually launch the `sudo` command instead of Austin itself.

[2022-07-10 23:03] nimski commented on #124
Thanks very much @P403n1x87 . Following that example Austin indeed can run without sudo and I'm able to successfully create a profile with `-o xxx.austin` and load it up in the flame graph viewer. However, I'm unable to use the `"austin"` task to pipe it directly through the VSCode extension. If I try I get the error message: `austin process exited with code 33` whereas the same command works from

[2022-07-11 18:28] P403n1x87 commented on #124
Ah that's weird 🤔 . I have just tried with the following in `.vscode/tasks.js`

[code]

and I've got the following flame graph

![Screenshot 2022-07-11 at 19 23 43](https://user-images.githubusercontent.com/20231758/178332158-a0a1eb19-dcea-4c07-a95b-52e61822546a.png)

Could you maybe try with the absolute path to `python`? Error 33 normally indicates failure to fork the subprocess, so perhaps Aust

[2022-07-12 16:58] nimski commented on #124
That was it! It's working well now. Thatnks for your help.

[2022-07-12 17:09] #124 closed

[2022-09-14 09:49] #116 closed

[2022-09-14 09:50] P403n1x87 commented on #93
This should have a fix for now, albeit not perfect. Please feel free to re-open if this is still an issue.

[2022-09-14 09:50] #93 closed

[2022-10-12 10:54] ashimgiyanani opened #130 "PackagesNotFoundError on conda installation"
### Description

Cannot import austin within conda

### Steps to Reproduce

1. conda install -c conda-forge austin

**Expected behavior:**
Expect the conda installation to go through

**Actual behavior:**

PackagesNotFoundError: The following packages are not available from current channels:
  - austin
Current channels:
  - https://conda.anaconda.org/conda-forge/win-64
  - https://conda.anaconda.o

[2022-10-12 11:29] r1viollet opened #131 "Python version inference can segfault"
### Description

[Description of the issue]
When the version is read from libpython, we attempt to execute it. This yields a segfault when the library is not executable.

[code]

### Steps to Reproduce

Execute a program using libpython 3.8.14.
Attempt to use austin on this program.

### Versions

[code]

### Additional Information

A possible solution would be to propose a manual override for the

[2022-10-12 11:39] P403n1x87 commented on #130
Thanks for reporting this. Unfortunately I am not the maintainer of the Austin package on conda, so you would have to raise this issue with them :slightly_frowning_face:. I believe this is due to the fact that Austin builds for Windows are not available from conda-forge. Please have a look at the installation alternatives for Windows, which include `choco`, `scoop`, as well as pre-built installers

[2022-10-12 11:39] #130 closed

[2022-10-24 17:56] andre-meneses-fivestars opened #138 "Insufficient Permissions"
### Description

When I try to run austin to attach to a process I get Insufficient permissions even if I run with sudo or with root user, or with root user using sudo.
If I try to go the way of `sudo setcap cap_sys_ptrace+ep 'which austin'`, after running this command, when I try to launch austin I get `Operation not permitted`

### Steps to Reproduce

1. Clone and build austin with gcc
2. Try to

[2022-10-24 18:30] P403n1x87 commented on #138
@andre-meneses-fivestars thanks for reporting this. Can I check a couple of things with you, please? Firstly, please note that the `setcap` command requires _backticks_ for the `which austin` part. Since you are compiling from sources, the binary will probably be in the `src` folder, so you should run
[code]
from the project's folder.

Secondly, would you be able to share some details about the ki

[2022-10-25 09:44] andre-meneses-fivestars commented on #138
Hi @P403n1x87, and thank you for your quick reply.

I know `which austin` requires backticks. I was getting a hard time getting those to work here with Markdown and just replaced with the other, but ran it correctly on the machine.

Also, I could confirm that ```src/austin python3 -c "import time; time.sleep(3)"``` works.

I am trying to profile an Python api, that is running behind uwsgi, and I w

[2022-10-25 11:18] P403n1x87 commented on #138
@andre-meneses-fivestars thanks for the feedback. Have you tried with the `-C/--children` option? The parent uwsgi process is likely not a Python process, so you would have to instruct Austin to look for its children. Alternatively, you could try to locate the child processes manually, which are likely to be Python processes and attach to one of them.

[2022-10-25 15:49] #131 closed

[2022-10-25 18:39] andre-meneses-fivestars commented on #138
@P403n1x87 just want to leave you with the current status.
The only processes are uwsgi ones. There is one parent and several children/workers.
If I use the `-p, --pid=PID` parameter, I always get the "insufficient permissions" message. If I use the `-C, --children` (on either the parent or children uwsgi processes) I get `👽 Not a Python process.`and later in the message `😣 No samples collected.`

[2022-10-25 19:48] P403n1x87 commented on #138
@andre-meneses-fivestars thanks for the updates. How is uwsgi installed? What version are you running? If the embedded Python (normally a shared library) hasn't been stripped of symbols, then Austin should work. I'll see if I can reproduce the issue once I know which version of uwsgi (and from which source) to target.

[2022-10-26 09:16] andre-meneses-fivestars commented on #138
@P403n1x87 uwsgi is installed through Poetry/Pip. The version we're using is 2.0.18.
Thank you for all your assistance.

[2022-10-28 23:23] P403n1x87 commented on #138
@andre-meneses-fivestars 3.4.1 is out now, if you can give it a try. I will do some testing on my part in the coming days.

[2022-10-29 10:26] P403n1x87 commented on #138
@andre-meneses-fivestars I have just tested uwsgi==2.0.18 from pip on Ubuntu 22.04 and Python 3.9. I'm using this sample app:
[code]
I've run it with
[code]
and got the following processes
[code]
Attaching to 29668 with `austin -i 1s -p 29668` and sending a request to `http://localhost:9090` produces (I'm using Austin 3.4.1)
[code]
Are you perhaps using some other options with uwsgi that I have no

[2022-10-31 13:34] delroth opened #152 "austinp only builds on systems with a patched libbfd"
### Description

libbfd is weird. The upstream version of bfd.h contains the following:

[code]

This has been reported at least twice ([1](https://sourceware.org/bugzilla/show_bug.cgi?id=14243) [2](https://sourceware.org/bugzilla/show_bug.cgi?id=15920)) to upstream binutils, and closed as WONTFIX because binutils maintainers think it should be every downstream user's problem to comply with that w

[2022-10-31 13:41] P403n1x87 commented on #152
@delroth thanks for reporting this! I was not aware of this issue with `libbfd`. So the fix is to just define `PACKAGE` somewhere? I believe this wouldn't be a problem. I'll try to give it a test and fix this for future releases. Hopefully, the pre-built binaries in the releases here on GitHub should obviate this issue for anybody wanting to use `austinp` where it currently doesn't build.

[2022-10-31 16:21] #152 closed

[2022-11-30 22:56] alexbozhenko opened #159 "Tracing a program running inside docker container may fail"
### Description

Hi, Gabriele.
Below is my understanding of the problem, please tell me where I am wrong.
Austin is trying to get python interpreter path by reading [proc/maps](https://github.com/P403n1x87/austin/blob/413948144ca09bcddd976eb7fd001fc24973f7d4/src/linux/py_proc.h#L358).
When running inside a docker container, that file will contain paths that are relative to the container, and those